// color
$color-white: #ffffff;
$color-black: #000;
$color-black-1: #555555;
$color-green: #1dbf73;
$color-green-1: #21d0b7;
$color-green-2: #2e6a3c;
$color-green-3: #02b09a;
$color-green-4: #168a53;
$color-green-5: #19a463;
$color-gray: #c2c2c5;
$color-gray-1: #9b9b9b;
$color-gray-2: #777777;
$color-gray-3: #949494;
$color-red: #fb4226;

// fontsize
$fs-0: 14px;
$fs-1: 16px;
$fs-2: 26px;

// font weight
$fw-0: normal;
$fw-1: 700;
$fw-2: bold;
$fw-3: 600;

//breakpoints
$breakpoints:(
    'extra-large': 1200px,
    'large': 992px,
    'medium': 768px,
    'small': 576px,
)
